<h1>Promociones</h1>
<p-table [value]="promociones" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Promocion</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Descuento</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-promociones>
    <tr *ngFor="let promocion of promociones">
      <td>{{ promocion.promocion }}</td>
      <td>{{ promocion.fechaInicio }}</td>
      <td>{{ promocion.fechaFin }}</td>
      <td>{{ promocion.descuento }}</td>
      <td>
        <i class="pi pi-check" (click)="selectedRow(promocion)" ></i>
        <i class="pi pi-file-edit"></i>
        <i class="pi pi-times"></i>
      </td>
    </tr>
  </ng-template>
</p-table>